body {
  margin: 0;
  min-height: 100%;
  font-family: sans-serif;

  background-color: #eeeeee;

  button {
    padding: 1% 2%;
    cursor: pointer;

    background-color: #ffffff;
    color: #000000;
    border: 1px solid #555555;
  }

  h1 {
    padding: 1vh 3vw;
  }

  #code-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;

    padding: 10px;
    background-color: #ffffffdd;
    border-bottom-left-radius: 10px;
    max-width: 50%;

    align-items: flex-start;

    box-shadow: 0px 0px 10px -5px #000000;

    #code-box {
      font-family: monospace;
      flex-grow: 1;
    }

    #code-close {
      cursor: pointer;
      font-weight: bold;
      margin-left: 10px;
    }
  }

  #start-screen {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    > button {
      font-size: 30px;
      padding: 5px 20px;
      cursor: pointer;
    }
  }

  #main-screen {
    display: none; // changed to flex when the program starts
    flex-direction: column;

    width: 100%;
    height: 100vh;

    #progress-area {
      width: 100%;
      height: 5px;
  
      #progress-bar {
        width: 100%;
        height: 100%;
        background-color: #555555;
        transition: width 0.3s ease;
      }
    }

    #top-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;

      margin: 10px;

      h1 {
        flex-grow: 1;
        font-size: 32px;
        margin: 8px 16px;
        padding: 0px;
      }

      #evolve-btn {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        transition: color 0.3s;

        &.inactive {
          cursor: default;
          color: #aaaaaa;
        }
      }
    }

    #synth-row {
      flex-grow: 1;

      display: flex;

      transition: opacity 0.3s;

      .context-panel {
        flex-grow: 1;
  
        display: flex;
        flex-direction: column;
  
        padding: 0px 5px;
        border-right: 1px solid #aaaaaa;

        .indicators {
          margin: 5px 0px;
          padding: 1px 0px;

          border-top: 5px solid #ffffff00;
          border-bottom: 5px solid #ffffff00;
          
          transition: border-color 0.3s;
        }
  
        &.favourite {
          .indicators {
            border-bottom-color: #378d37;
          }
          .control-box {
            .favourite-select {
              background-color: #555555;
              color: #ffffff;
            }
          }
        }
  
        &.midi-enabled {
          .indicators {
            border-top-color: #f18d09;
          }
          .control-box {
            .ctx-select {
              background-color: #555555;
              color: #ffffff;
            }
          }
        }
  
        &:last-child {
          border-right: none;
        }
  
        iframe {
          width: 100%;
          border: 0;
          flex-grow: 1;
        }
  
        .control-box {
          
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
  
          button {
            margin: 0px 3px 6px;
            transition: color 0.3s, background-color 0.3s;
          }
        }
  
        .mfcc-box {
          height: 100px;
          flex-shrink: 0;
          display: flex;
          align-items: flex-end;
          
          .mfcc-bar {
            flex-grow: 1;
            width: 1px;
            background-color: #555555;
          }
        }
      }
    }
  }

  #cover {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 10;
  }
}
