body {
  margin: 0;
  min-height: 100%;
  font-family: sans-serif;

  background-color: #eeeeee;

  button {
    padding: 1% 2%;
    cursor: pointer;

    background-color: #ffffff;
    color: #000000;
    border: 1px solid #555555;
  }

  h1 {
    padding: 1vh 3vw;
  }

  #code-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;

    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 10px;
    max-width: 50%;

    align-items: flex-start;

    box-shadow: 0px 0px 30px -5px #000000;

    #code-box {
      font-family: monospace;
      flex-grow: 1;
    }

    #code-close {
      cursor: pointer;
      font-weight: bold;
      margin-left: 10px;
    }
  }

  #btn-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    > button {
      font-size: 30px;
      padding: 5px 20px;
      cursor: pointer;
    }
  }

  #main-panel {
    display: none; // changed to flex when the program starts
    flex-direction: column;

    width: 100%;
    height: 100vh;

    #synth-row {
      flex-grow: 1;

      display: flex;

      .context-panel {
        flex-grow: 1;
  
        display: flex;
        flex-direction: column;
  
        margin: 5px 0px 5px 5px;
  
        &.favourite {
          .control-box {
            border-top-color: #2f502f;
            .favourite-select {
              background-color: #555555;
              color: #ffffff;
            }
          }
        }
  
        &.midi-enabled {
          iframe {
            border-bottom-color: #ff9100;
          }
          .control-box {
            .ctx-select {
              background-color: #555555;
              color: #ffffff;
            }
          }
        }
  
        &:last-child {
          margin-right: 5px;
        }
  
        iframe {
          width: 100%;
          border: 0;
          margin-bottom: 2px;
          flex-grow: 1;
          padding-bottom: 2px;
          border-bottom: 5px solid #00000000;
          transition: border-bottom-color 0.3s;
        }
  
        .control-box {
          border-top: 5px solid #00000000;
          transition: border-top-color 0.3s;
          
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
  
          button {
            margin: 3px;
            transition: color 0.3s, background-color 0.3s;
          }
        }
  
        .mfcc-box {
          display: flex;
          height: 100px;
          margin-bottom: 2px;
          align-items: flex-start;
          
          .mfcc-bar {
            flex-grow: 1;
            width: 1px;
            background-color: #555555;
          }
        }
      }
    }
    #bottom-row {
      
    }
  }
}
